*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}
:root{
    --mainmargin: 10px;
}
.contact{
    font-weight: 368;
    font-size: 90px;
    font-style: oblique;
    color: var(--main-color);
    padding-bottom: 50px;
}
.f{
    max-width: 80%;
    margin: auto;
    background-color: #a99494;
    height: 100%;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 15%);
}
.f input{
    width: 100%;
    height: 60px;
    margin: var(--mainmargin,10px);  
    border-radius: 10px;
}
.f .text2{
    width: 97%;
}
.f .name,
.f .email{
    width: 250px;
}
.f textarea{
    margin-top: var(--mainmargin,10px);  
    margin-left: var(--mainmargin,10px);  
    width: 97%;
    height: 200px;
    border-radius: 10px;
}
.f input:focus{
    /* border: 3px solid #555; */
    outline: none;
}
.f input[placeholder]{
    font-size: x-large;
    padding-left: 30px;
}
.f textarea[placeholder]{
    font-size: xx-large;
    padding-left: 30px;
    padding-top: 20px;
}
.f textarea:focus{
    outline: none;
}
.f .send{
    width: 200px;
    cursor: pointer;
}
.f input[value]{
    font-size: x-large;
}
.f .send:hover{
    background-color: rgb(94, 45, 77);
    color: white;
}
@media (max-width: 575px) {
    .f{
        padding: 7px;
    }
}
@media (max-width: 767px) {
    footer::before{
        position: absolute;
        top: -165%;
        height: 100%;
    }
}