*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}
:root{
    --mainmargin: 10px;
}
body{
    background-color: rgb(223, 219, 219);

}
.mid{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content:space-between;

}
.mid .f{
    display: flex;
    width:600px;
    color: aliceblue;
    background-color: #cb50a2cc;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 30px;
    border: 1px solid black;
    box-shadow: 9px 7px 11px -3px #360e0e94;
    position: relative;
    right: 214px;
    background-image: linear-gradient(180deg,#c570a9cc,gray);
    caret-color: #cb50a2cc;
}
.mid .info{
    width: 40%;
    font-size: 32px;
    line-height: 70px;
}

ul .o{
    list-style-type: none;
    list-style-position: unset;
    list-style-image: url("file:///G:/project/project/project/img/icons/1.png");
}
ul .t{
    list-style-type: none;
    list-style-position: unset;
    list-style-image: url("	file:///G:/project/project/project/img/icons/2.png");
}
ul .th{
    list-style-type: none;
    list-style-position: unset;
    list-style-image: url("	file:///G:/project/project/project/img/icons/2.png");
}
.f input{
    width: 100%;
    height: 60px;
    margin: var(--mainmargin,10px);  
    border-radius: 10px;
}
.f .t{
    width: 97%;
    background-color: rgb(223, 219, 219);

}
.f .a {
    width: 250px;
    background-color: rgb(223, 219, 219);
}
.f textarea{
    margin-top: var(--mainmargin,10px);  
    margin-left: var(--mainmargin,10px);  
    width: 97%;
    height: 200px;
    border-radius: 10px;
    background-color: rgb(223, 219, 219);
}
.f input:focus{
    border: 3px solid #555;
}
.f input[placeholder]{
    font-size: x-large;
    padding-left: 30px;
}
.f textarea[placeholder]{
   font-size: xx-large;
   padding-left: 30px;
   padding-top: 20px;
}
.f .send{
    width: 200px;
    cursor: pointer;
}
.f input[value]{
    font-size: x-large;
}
.f .send:hover{
    background-color: rgb(94, 45, 77);
    color: white;
}