*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
:root{
    --main-color: rgb(190, 51, 144);
    --main-bckimage-color: linear-gradient(180deg,#ac3083cc,gray);
    --section-padding: 100px;
}
body{
    display: flex;
    flex-direction: column;
}
.container{
    padding-left: 20px;
    padding-right:20px;
    margin-left: auto;
    margin-right: auto;
}
header{
    padding-left: 30px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height:500px;
    margin-bottom: 0px;
    transition: all 0.5s ease-in-out;
}
/* 
    content hight=100%
    2 spaces 10px *2 = 20px from content
    100%-20px 
    3 elements the hight is : (100%-20px)/3
*/
header .container i{
    position: absolute;
    top: 20px;
    right: 30px;
}
header .arrow-img{
    width:80px;
    height:80px;
    position: fixed;
    right: 0px;
    bottom: 11px;
    border-radius: 20px;
    z-index: 3000;
    display: none;
    cursor: pointer;
}
header h1{
    width: fit-content;
    font-size:100px;
    color: rgb(58, 14, 14);
    text-transform: uppercase;
    cursor: pointer;
}
header h1::first-letter{
    font-size: 120px;
}
@media (max-width: 575px) {
    header h1{
        font-size:70px;
    }
    header .p1{
        font-size: 35px;
    }
}
::selection{
    background-color: #777;
    color: aliceblue;
}
/* grouping */
a{
    text-decoration: none;
}
.p1{
    color: var(--main-color);
    margin-left: 80px;
    font-family: 'Pacifico', cursive;
    font-size: 70px;
    font-weight:lighter;
    margin-bottom: 0px;
    margin-top: 0px;
    width: fit-content;
}
/* @media (max-width: 575px) {

} */

.p1 span{
    animation-name: p-animation;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.two{
    animation-delay: 0.3s;
}
.three{
    animation-delay: 0.6s;
}
.four{
    animation-delay: 0.9s;
}
@keyframes p-animation{
    to{
        opacity: 0.4;
        transform: translateY(-20px);
    }
}
/*Start nav-bar*/
.nave-bar{
    background-image: var(--main-bckimage-color);
    position: sticky;
    top: 0px;
    z-index: 1000;
    box-shadow: 0px 6px 11px -3px #360e0e94;
    max-height: 55px;
}
.nave-bar .container{
    display: flex;
    justify-content: space-between;
}
.search{
    display: flex;
}
.cart-img{
    width: 86px;
    height: 58px;
    cursor: pointer;
}
.nave-bar .container .links-container{
    width: fit-content;
    text-align: right;
}
.nave-bar .container .links {
    padding-left: 0;
    list-style: none;
}
.nave-bar .container .links li{
    display: inline-block;
}
.nave-bar .container .links a{
    color: white;
    text-decoration: none;
    padding: 10px;
}
.links a:hover{
    background-color: var(--main-color);
    border-radius: 10px;
}
/* Burger icon */
.fa-solid, .fas {
    font-weight: 900;
    font-size: 30px;
    color: black;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 50px;
    position: relative;

}
.nave-bar .container .links-container i{
    display: none;
    color: white;
}
@media (max-width: 991px){
    .nave-bar .container .links{
        display: none;
    }
    .nave-bar .container .links.open li a {
        color: var(--main-color);
        text-decoration: none;
        font-weight: bold;
    }
    .nave-bar .container .links.open li{
        display: block;
        margin: 20px;
    }
    .links a:hover{
        background-color: rgb(190, 189, 189);
        border-radius: 10px;
    }
    .nave-bar .container .links.open{
        right: 35px;
        top: 40px;
        width: fit-content;
        background-color: lightgray;
        padding: 10px;
        display: block;
        position: absolute;
        border-radius: 5px;
        text-align: left;
    }
    .nave-bar .container .links-container i{
        display: inline-block;
    }
}
.clear{
    clear: both;
}

/*End nav-bar*/

/*Start figure*/
.main-fig .container{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.main-fig .h2-coll{
    font-weight: 368;
    font-size: 90px;
    font-style: oblique;
    color: var(--main-color);
    padding-bottom: 50px;
}
@media (max-width: 767px){
    .main-fig .h2-coll{
        font-size: 40px;
    }
}
.main-fig .container .sub-container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(280px,1fr));
    gap: 10px;
}
.main-fig .sub-fig{
    /* 
        content width=100%
        4 spaces: 30px *4 = 120px from content
        100%-120px
        3 elements the width is : (100%-120px)/3
    */
    width: 85%;
    height: fit-content;
    background-color:  hsl(0, 20%, 99%);
    text-align: center;
    border-radius: 30px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 6px -2px #360e0e94;
    transition: .3s;
    transition-property:transform,border,color,opacity ;
    transition-timing-function: ease-in-out;
    
}
.sub-fig img{
    width:100%;
    height: 250px;
    border-radius: 30px;
}
.caption{
    padding-left: 10px;
    padding-right: 10px;
}
.sub-fig:hover{
    background-color: white;
    opacity: 0.9;
    transform: scale(1.1,1.1);
    cursor: pointer;
}
.popup-overlay{
    position: fixed;
    background-color: rgba(0, 0, 0, .7);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
.popup-box{
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: #FFF;
    z-index: 2001;
    transform: translate(-50%,-50%);
    border: 1px solid #CCC;
    padding: 20px;
    border-radius: 2%;
}
.popup-img{
    max-width: 100%;
    margin-bottom: 20px;
    border-radius: 2%;
}
@media (max-width: 575px) {
    .popup-box{
        width: 70%;
    }
    .popup-box h2 a{
        font-size: 12px;
    }
}
.popup-box h2{
    text-align: center;
}
.popup-box h2 a{
    font-size: 20px;
    text-decoration: none;
    color: var(--main-color);
    color: white;
    padding: 20px;
    background-color: var(--main-color);
    border-radius: 5px;
}
.close-span{
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 50px;
    font-family: Arial,Tahoma;
    background-color: var(--main-color);
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    cursor: pointer;
    color: #FFF;
}
.main-fig input{
    position: relative;
    top: 600px;
    right: 550px;
    width: 100px;
    height: 100px;
    background-image: linear-gradient(180deg,#c570a9cc,gray);
    transition: .3s;
    transition-property:transform,border,color,opacity ;
    transition-timing-function: ease-in-out;
}
.main-fig input:hover{
    cursor: pointer;
    opacity: 0.9;
    transform: scale(1.2,1.2);
}
.more{
    background-color: lightgray;
    width: fit-content;
    padding: 20px;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    left: 50%;
}
.more:hover{
    background-color: darkgrey;
}

/*End figure*/
footer{
    overflow-x: clip;
    position: relative;
    margin-top: var(--section-padding);
    background-color: lightgray;
}
footer::before{
    content: "";
    position: absolute;
    top: -215%;
    left: 50%;
    background-color: var(--main-color);
    z-index: -1;
    width: 200%;
    height: 150%;
    border-radius: 0;
    transform: translateX(-50%) skew(0deg, -10deg);
    animation: waving 6s ease-in-out infinite alternate;
}
@keyframes waving{
    from{
        transform: translateX(-50%) skew(0deg, -10deg);
    }
    to{
        transform: translateX(-30%) skew(-10deg, 0deg);
    }
}
@media (max-width: 767px) {
    footer::before{
        position: absolute;
        top: -345%;
    }
}
footer .container h4{
    font-size: x-large;
    font-weight: 100;
    color: var(--main-color);
}
footer .container .p2{
    padding-left: 50px;
    font-size: 20px;
}
footer .container ul{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
footer .container ul li{
    border-radius: 5px;
    list-style: none;
    background-color: white;
    padding: 20px;
    border: 1px solid white;
    box-shadow: 0 5px 25px rgb(1 1 1 / 15%);
    transition: .3s;
    transition-timing-function: ease-in-out;

}
footer .container ul li:nth-child(3){
    cursor: pointer;
}
footer .container ul li:hover{
    opacity: 0.9;
    transform: scale(1.1,1.1);
}
footer .container ul li a{
    color: black;
}
footer .container .p3{
    display: flex;
    justify-content: center;
}
footer .container .p3 a{
    padding-left: 10px;
    font-size: 18px;
    color: black;
}
footer .container .p3 a:hover{
    color: var(--main-color);
}
@media (min-width: 576px){ /* Small devices (Landscape phones)*/
    .container{
        max-width: 540px;
    }
}
@media (min-width: 768px){
    .container{
        max-width: 720px;
    }
}
@media (min-width: 992px){
    .container{
        max-width: 960px;
    }
}
@media (min-width: 1200px){
    .container{
        max-width: 1140px;
    }
}
